<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open':sideBarStatus}">
      <li class="nav-list-item" (click)="hometoggle()" >
            <i class="fa-solid fa-house icons" ></i>
            <span>
                <a href="">Home</a>
            </span>
      </li>
      <li class="nav-list-item" >
        <i class="fa-solid fa-toolbox icons "></i>
        <span>
            <a href="">Tools</a>
        </span>
  </li>
  <li class="nav-list-item" >
    <i class="fa-solid fa-calendar-days icons"></i>
    <span>
        <a href="">Appointments</a>
    </span>
</li>
      
    </ul>
</div>
