<div id="nav">
    <nav class="navbar navbar-custom" id="navbar">
        <div class="container-fluid">
            <div class="side-nav-button p-2 me-3 text-light" (click)="sideBarToggle()"> <i class="fa-solid fa-bars"></i></div>
            <a class="navbar-brand me-auto" href="#">
                <!-- <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" -->
                    <!-- class="d-inline-block align-text-top"> -->
               <p class="hooli"> H<span id="fo">O</span> <span id="so">O</span>LI</p>
            </a>



          
                
                   <h5 class=" navbar-text me-auto"> Executive Dashboard</h5>
                
     
            <div class="settings-logo m-3 ">
                <i class="fa-solid fa-gear"></i>
            </div>
            <div class="profile-logo dropstart ">
                <button class="profilelogo btn btn-dark " data-bs-toggle="dropdown"><i class="fa-solid fa-user"></i></button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li class="dropdown-item">Profile</li>
                    <li class="dropdown-item">Menu</li>
                    <li class="dropdown-item">Logout</li>

                </ul>
            </div>

        </div>
    </nav>
</div>