<!-- top  -->
<div class="container-fluid" id="topelements">
    <div class="row">
      <div class="col-md">
        <div class="topelement1">
<div class="topletter"><span class="big" id="total">45</span> Total number of tasks</div>

        </div>
      </div>
      <div class="col-md">
        <div class="topelement1">
            <div class="topletter"><span class="big " id="track" >14</span> Number of Tasks on Track</div>

        </div>    
      </div>
      <div class="col-md">
        <div class="topelement1">
            <div class="topletter"><span class="big" id="dep">8</span> Number of Tasks Deployed</div>

        </div>    
      </div>
      <div class="col-md">
        <div class="topelement1">
            <div class="topletter"><span class="big" id="complete">4</span> Number of Tasks Completed</div>

        </div>   
       </div>
    </div>
  </div>
  <!-- middle -->
  <div class="container-fluid">
<div class="row">
    <div class="col-md">
<div class="midelement">
<div class="middleletter" > <br><h5>Task Distribution</h5></div>
</div>
    </div>
    <div class="col-md">
<div class="midelement">
    <div class="middleletter" > <br><h5>Task by Hooli Sectors</h5></div>

</div>
    </div>
    <div class="col-md">
        <div class="midelement">
            <div class="middleletter" > <br><h5>Tasks by Sam</h5></div>

        </div>
    </div>

</div>
  </div>